h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    color: rgb(255, 252, 232);
    font-size: 4rem;
}

body{
    background-color: rgb(200, 213, 190);
}

div {
    position: relative;
}
form {
    padding-left: 5%;
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: rgb(5, 55, 8) ;
    color: rgb(255, 252, 232);
    border-radius: 25px;
    border-style: none;
    border-width: 3px;
    border-color: rgb(255, 252, 232);
}
button:hover{
    background-color:rgb(160, 175, 161) ;
    cursor:pointer;
}
button:active {
    background-color: rgb(160, 175, 161);
    transform: translateY(4px);
  }

.misc-text{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(255, 252, 232);
    font-size: 1.5rem;
    text-align: center;
}
input {
    background-color: rgb(255, 252, 232);
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:content-box;
    border-radius: 10px;
    border-style: none;
    color:rgb(4,100, 8) ;
}
input[type=submit] {
    position: relative;
    display: in-line block;
    margin : 0 auto;
    cursor:pointer;
    background-color:rgb(160, 175, 161) ;
    text-transform: uppercase;
}
input[type=submit]:active{
    transform: translateY(4px);
}
.meme-text {
    color: white; 
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000;
    font-family: impact;
}

#top-text{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    top: 3rem;
    left: 50%;
    text-align: center;
}
#bottom-text{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20%;
    font-size: 4rem;
    bottom: 0;
    left: 50%;
    text-align: center;

}
#meme-image {
    position: relative;
    margin-top: 20px;
    width: 450px;
    height: 450px;
    text-align: center;
}
#meme-land {
    position: relative;
    text-align: center;
}
